
#content{
    width: 250px;
    height: 350px;
    border: 5px solid black;
    margin: auto;
    gap: 20px;
    justify-content: center;
    background-color: aqua;
    font-size: 20px;
    padding-left: 80px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* display: grid; */
}
#submit{
    height: 30px;
    width: 170px;
    background-color: #3399dd;
    margin-top: 10px;
}
#number{
    margin-top: 10px;
}
#cap{
    margin-top: 10px;
}
#num{
    margin-top: 10px;
}

#customers {
width: 100%;
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
}

#customers td, #customers th {
border: 1px solid rgb(0, 0, 0);
padding: 8px;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
color: rgb(0, 0, 0);
background-color: #58c1e7;
}


